<h1>TakeBacks</h1>

<%= form_for @hype do |h| %>

  <div>
    <%= f.label :msg %>
    <%= f.text_field :msg %>
  </div>

  <div>
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <%= f.submit "Confirm Hype" %>
<% end %>

<%= link_to "Hype Central", hypes_path %>
