<h1>LOCAL {HYPES}:</h1>

<ul>
  <% @hypes.each do |hype| %>
    <li>
      <strong> @<%= hype.user %>: </strong>  <%= link_to "\"#{hype.msg.upcase}\"", hype_path([hype.id]), class: "link" %> <%= time_ago_in_words(hype.created_at) %>
    </li>
  <% end %>
</ul>

<%= form_for @hype do  |h| %>

  <div id="msg_container">
    <%= h.text_field :msg, :autofocus => true, :autocomplete => "off" %>
  </div>

  <div>
|
    <%= h.text_field :user %>
  </div>

  <%= h.submit "Lock That Shit In", :class => "hellogoodbye" %>


<% end %>
